---
---

<footer class="bg-black text-white">
  <div
    class="container mx-auto px-5 py-3 flex flex-col sm:flex-row items-center justify-between gap-2"
  >
    <span> &copy;2022 - BinGoa Events</span>
    <a class="group" href="//gavinpereira.in">
      <i class="fas fa-code"></i>
      by
      <span
        class="underline decoration-transparent group-hover:decoration-white transition-colors duration-500"
        >Gavin Pereira</span
      >
    </a>
  </div>
</footer>
