---
---

<header class="bg-white text-black shadow">
    <div class="container mx-auto px-5 py-5 flex items-center justify-between">
        <div>
            <img src="/wordmark.png" alt="BinGoa Events" class="h-12" />
        </div>
        <nav class="items-center gap-3 text-bold hidden">
            <a href="#">Home</a>
            <a href="#">Gallery</a>
            <a href="#">Rent</a>
        </nav>
    </div>
</header>
